In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [5]:
df= spark.read.csv("Data.csv",header=True, inferSchema=True)

In [6]:
df.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  NULL|      Yes|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|     NULL|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

### Filter Operations

In [8]:
### Salary of the people less than or equal to 20000

In [12]:
df.filter("Salary<60000").show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
+-------+----+------+---------+

In [13]:
df.filter("Salary<60000").select(["Country","Age"]).show()

+-------+----+
|Country| Age|
+-------+----+
|  Spain|  27|
|Germany|  30|
| France|  35|
|  Spain|NULL|
+-------+----+

In [37]:
df.filter((df.Salary<=60000) & (df.Salary>=50000)).show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
|Germany|  30| 54000|       No|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
+-------+----+------+---------+

In [38]:
df.filter(~(df.Salary<=60000)).show() ## NOT operator

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 38| 61000|       No|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|     NULL|
| France| 37| 67000|      Yes|
+-------+---+------+---------+