In [72]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [73]:
df = spark.read.csv("Data.csv",header=True,inferSchema = True )

In [74]:
df.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  NULL|      Yes|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|     NULL|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [75]:
## drop column

In [76]:
df.drop("Age").show()

+-------+------+---------+
|Country|Salary|Purchased|
+-------+------+---------+
| France| 72000|       No|
|  Spain| 48000|      Yes|
|Germany| 54000|       No|
|  Spain| 61000|       No|
|Germany|  NULL|      Yes|
| France| 58000|      Yes|
|  Spain| 52000|       No|
| France| 79000|      Yes|
|Germany| 83000|     NULL|
| France| 67000|      Yes|
+-------+------+---------+

In [77]:
df.na.drop().show()## drops NULL containing rows

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
|  Spain| 38| 61000|       No|
| France| 35| 58000|      Yes|
| France| 48| 79000|      Yes|
| France| 37| 67000|      Yes|
+-------+---+------+---------+

In [78]:
df.na.drop(how="all").show()## if all rows equals to NULL this will drop them

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  NULL|      Yes|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|     NULL|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [79]:
##threshold
df.na.drop(how="any",thresh=2).show() ## at least two non null values

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  NULL|      Yes|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|     NULL|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [80]:
##subset
df.na.drop(how="any",subset=["Salary"]).show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|     NULL|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [86]:
##fill the missing value
newDf=df.na.fill("unknown",subset=["Purchased"])

In [87]:
newDf.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  NULL|      Yes|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|  unknown|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [83]:
from pyspark.ml.feature import Imputer

imputer= Imputer(
    inputCols=["Age","Salary"],
    outputCols=["{}_imputed".format(c) for c in ["Age","Salary"]]
).setStrategy("mean")

In [84]:
df.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  NULL|      Yes|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|     NULL|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [85]:
# Add imputation cols to df
imputer.fit(df).transform(df).show()

+-------+----+------+---------+-----------+--------------+
|Country| Age|Salary|Purchased|Age_imputed|Salary_imputed|
+-------+----+------+---------+-----------+--------------+
| France|  44| 72000|       No|         44|         72000|
|  Spain|  27| 48000|      Yes|         27|         48000|
|Germany|  30| 54000|       No|         30|         54000|
|  Spain|  38| 61000|       No|         38|         61000|
|Germany|  40|  NULL|      Yes|         40|         63777|
| France|  35| 58000|      Yes|         35|         58000|
|  Spain|NULL| 52000|       No|         38|         52000|
| France|  48| 79000|      Yes|         48|         79000|
|Germany|  50| 83000|     NULL|         50|         83000|
| France|  37| 67000|      Yes|         37|         67000|
+-------+----+------+---------+-----------+--------------+