In [106]:
import pyspark

In [107]:
import pandas as pd
pd.read_csv("Data.csv")

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [108]:
from pyspark.sql import SparkSession

In [109]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [110]:
spark

In [111]:
df=spark.read.csv("Data.csv")

In [112]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [113]:
df.show()

+-------+----+------+---------+
|    _c0| _c1|   _c2|      _c3|
+-------+----+------+---------+
|Country| Age|Salary|Purchased|
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  NULL|      Yes|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [114]:
spark.read.option("header","true").csv("Data.csv").show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  NULL|      Yes|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [115]:
type(df)

pyspark.sql.dataframe.DataFrame

In [116]:
df.head(3)

[Row(_c0='Country', _c1='Age', _c2='Salary', _c3='Purchased'),
 Row(_c0='France', _c1='44', _c2='72000', _c3='No'),
 Row(_c0='Spain', _c1='27', _c2='48000', _c3='Yes')]

In [117]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [118]:
from pyspark.sql import SparkSession

In [119]:
spark=SparkSession.builder.appName("DataFrame").getOrCreate()

In [120]:
spark

In [121]:
## read the dataset

In [122]:
df=spark.read.option("header","true").csv("Data.csv",inferSchema=True)

In [123]:
## chech the schema

In [124]:
df.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Purchased: string (nullable = true)

In [125]:
df=spark.read.csv("Data.csv",header=True,inferSchema=True)
df.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  NULL|      Yes|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [126]:
df.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Purchased: string (nullable = true)

In [127]:
df.columns

['Country', 'Age', 'Salary', 'Purchased']

In [128]:
df.select("Age").show()

+----+
| Age|
+----+
|  44|
|  27|
|  30|
|  38|
|  40|
|  35|
|NULL|
|  48|
|  50|
|  37|
+----+

In [129]:
df.select(["Age","Salary"]).show()

+----+------+
| Age|Salary|
+----+------+
|  44| 72000|
|  27| 48000|
|  30| 54000|
|  38| 61000|
|  40|  NULL|
|  35| 58000|
|NULL| 52000|
|  48| 79000|
|  50| 83000|
|  37| 67000|
+----+------+

In [130]:
df.dtypes

[('Country', 'string'),
 ('Age', 'int'),
 ('Salary', 'int'),
 ('Purchased', 'string')]

In [131]:
df.describe()

DataFrame[summary: string, Country: string, Age: string, Salary: string, Purchased: string]

In [132]:
df.describe().show()

+-------+-------+-----------------+------------------+---------+
|summary|Country|              Age|            Salary|Purchased|
+-------+-------+-----------------+------------------+---------+
|  count|     10|                9|                 9|       10|
|   mean|   NULL|38.77777777777778| 63777.77777777778|     NULL|
| stddev|   NULL|7.693792591722529|12265.579661982732|     NULL|
|    min| France|               27|             48000|       No|
|    max|  Spain|               50|             83000|      Yes|
+-------+-------+-----------------+------------------+---------+

In [ ]:
## Add Columns

In [133]:
df=df.withColumn("Age after 2 years",df["Age"]+2)

In [134]:
df.show()

+-------+----+------+---------+-----------------+
|Country| Age|Salary|Purchased|Age after 2 years|
+-------+----+------+---------+-----------------+
| France|  44| 72000|       No|               46|
|  Spain|  27| 48000|      Yes|               29|
|Germany|  30| 54000|       No|               32|
|  Spain|  38| 61000|       No|               40|
|Germany|  40|  NULL|      Yes|               42|
| France|  35| 58000|      Yes|               37|
|  Spain|NULL| 52000|       No|             NULL|
| France|  48| 79000|      Yes|               50|
|Germany|  50| 83000|       No|               52|
| France|  37| 67000|      Yes|               39|
+-------+----+------+---------+-----------------+

In [135]:
## Drop Columns

In [136]:
df.drop("Age after 2 years").show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  NULL|      Yes|
| France|  35| 58000|      Yes|
|  Spain|NULL| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [137]:
## Rename columns

In [138]:
df.withColumnRenamed("Age","New Age").show()

+-------+-------+------+---------+-----------------+
|Country|New Age|Salary|Purchased|Age after 2 years|
+-------+-------+------+---------+-----------------+
| France|     44| 72000|       No|               46|
|  Spain|     27| 48000|      Yes|               29|
|Germany|     30| 54000|       No|               32|
|  Spain|     38| 61000|       No|               40|
|Germany|     40|  NULL|      Yes|               42|
| France|     35| 58000|      Yes|               37|
|  Spain|   NULL| 52000|       No|             NULL|
| France|     48| 79000|      Yes|               50|
|Germany|     50| 83000|       No|               52|
| France|     37| 67000|      Yes|               39|
+-------+-------+------+---------+-----------------+